/* Постійні клієнти */
.clients {
  @extend %flexcenter;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
  &__wrapper {
    @extend %flexcenter;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 1.167;
    color: $dark-color-text;
    margin-bottom: 50px;
  }
  &__icon {
    fill: $link-color;
    @include transition(fill);
  }
  &__link {
    width: 170px;
    height: 92px;
    @extend %flexcenter;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $link-color;
    border-radius: 4px;
    @include transition(background-color);
    &:hover {
      background-color: $light-grey-color;
      & .clients__icon {
        fill: $accent-color;
      }
    }
    &:focus {
      background-color: $light-grey-color;
      outline: none;
      & .clients__icon {
        fill: $accent-color;
      }
    }
  }
}
