.logo {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  @include transition(color);
  @include transition(fill);
  margin-bottom: 20px;
  margin-right: 93px;
  &--light {
    color: $white-color;
    @include transition(color);
    @include transition(fill);
  }
  &--dark {
    color: $black-color;
    @include transition(color);
    @include transition(fill);
  }
  &:hover .logo--light,
  &:focus .logo--light,
  &:hover .logo--dark,
  &:focus .logo--dark {
    color: $accent-color;
    fill: $accent-color;
  }
  &:focus {
    outline: none;
  }
}
